@charset "utf-8";
@import '../_variables.scss';


.work_wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.work_wrap div {
    // width: 25%;
    text-align: center;
}

.work_wrap div .how_subtit {
    font-weight: $font-bold;
    padding: 40px 0 10px;
}

.work_wrap div span {
    color: $subtxt-color;
}


.work_wrap div + div {
    margin-left: 32px;
}

.work_wrap img {
    margin: 0 auto;
    width: 87px;
    height: 112px;
}