@charset "utf-8";
@import '../_variables.scss';

.searchtxt_wrap {
    display: flex;
    justify-content: space-between;
}

.searchtxt_wrap h3 {
    margin-bottom: 0;
}

.searchtxt_wrap span {
    position: relative;
    padding-right: 38px;
    color: $primary-color;
    font-weight: $font-bold;
}

.searchtxt_wrap span::after {
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 9px;
    height: 14px;
    background: url('../../images/main/ico_arrowRed.png') center / cover no-repeat;
}

.searchprd_wrap {
    display: flex;
    margin-top: 88px;
}

.searchprd_wrap li {
    text-align: center;
    font-weight: $font-bold;
}

.searchprd_wrap li + li {
    margin-left: 34px;
}

.searchprd_wrap img {
    border-radius: 50%;
    margin-bottom: 26px;
}

