$primary-color: #e50914;
$sub-color: #b20710;
$subtxt-color: #9E9E9E;
$fill-color: rgba(229, 9, 20, 0.2);
$fillsub-color: rgba(0, 0, 0, 0.2);
$color-white: #fff;
$border-radiu: 16px;
$font-bold: 700;
$border-primary: 1px solid #e50914;
$border-line: 1px solid #ddd;

// background-color: #9E9E9E;