@charset "utf-8";
@import './_variables';
@import url('https://fonts.cdnfonts.com/css/source-sans-pro?styles=14484,14488,14493');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 14px;
    line-height: 22px;
    color: #000;
}

body {position: relative; min-width: 320px;} 

/* 공통 - 레이아웃 */
.app {position: relative; overflow: hidden;}
[class$="_container"] {margin: 0 auto 80px; width: 100%; max-width: 1480px;} 
// input[type="time"]::-webkit-calendar-picker-indicator {background: none;}

/* form */
label {position: relative; display: block; /*width: 100%;*/ font-size: 1.2rem; color: #666;} 
input[type="checkbox"] {position: relative; display: block; /*width: 100%;*/ font-size: 1rem; padding-left: 1.2rem; border: 1px solid #999; border-radius: 10px;} 

/* 공통 - 컴포넌트 */
h1 a {color: $primary-color; font-size: 2rem; font-weight: 700;}
h2, h3 {font-size: 1.4rem; font-weight: 700;} 
.blind {display: none;} 
[class$="_container"] h3 {text-align: center; margin-bottom: 70px;}

$primary-color: #e50914;
$sub-color: #b20710;

.btn {
  position: relative;
  display: block;
  width: 100%;
  color: $color-white;
  font-weight: $font-bold;
  outline: none;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  // 사이즈 관리
  &.large {
    height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.25rem;
  }

  &.medium {
    height: 2.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
  }

  &.small {
    height: 1.75rem;
    font-size: 0.875rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &.point {
    background: linear-gradient(95.71deg, #E50914 -39.64%, #B20710 135.31%);;
  }

  background: $primary-color;
  &:hover {
    background: lighten($primary-color, 10%);
  }

  &:active {
    background: darken($primary-color, 10%);
  }

  & + & {
    margin-left: 1rem;
  }
}

.label_primary {
  display: inline-block;
  padding: 8px 16px;
  background: rgba(229, 9, 20, 0.2);
  color: $sub-color;
  border-radius: $border-radiu;
  font-weight: 700;
}
.label_primary.off {
  color: $color-white;
  background: $fillsub-color;
}

.icon {
  display: inline-block;
  width: 24px; 
  height: 18px; 
  background: url('../images/main/ico_star.png') center / contain no-repeat;
}

.toggle_wrap {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  margin-left: 4px;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $primary-color;
}

input:focus + .slider {
  box-shadow: 0 0 1px $sub-color;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.accordion_wrap .item {
  .cnt {
    display: none;
    padding: 15px;
  }
  &.open .cnt {
    display: block;
  }
}

.accordion_wrap .item .btn {
  position: relative;
  background-color: $subtxt-color;
  text-align: left;
  border-radius: 0;
}


.accordion_wrap .item .cnt strong {
  display: block;
}

.accordion_wrap .item .btn.large::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 7px;
  height: 12px;
  background: url('../images/common/ico_arrow.png') center / cover no-repeat;
  transform: translateY(-50%) rotate(90deg);
}
