@charset "utf-8";
@import './_variables.scss';

.login_container .login_wrap h2 {
    text-align: center;
    font-size: 2rem;
    line-height: 2;
    color: $sub-color;
    font-weight: $font-bold;
}

.login_container .login_wrap .input_wrap {
    margin-top: 20px;
}

.login_container .login_wrap .input_wrap input {
    padding: 16px;
    width: 100%;
    display: block;
    border-radius: $border-radiu;
    border: $border-line;
}

.login_container .login_wrap .input_wrap input + input {
    margin-top: 10px;
}

.login_container .login_wrap .login_infowrap {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.login_container .login_wrap .login_infowrap label {
    display: flex;
}

.login_container .login_wrap .login_infowrap input {
    width: 24px;
    margin: 0 4px 0 0;
    padding: 0;
}

.login_container .login_wrap .btn {
    margin-bottom: 24px;
    background: $subtxt-color;
    color: $color-white;
}

.find_info {
    display: flex;
}

.find_info li + li {
    margin-left: 10px;
}

.loginsns_wrap {
    display: flex;
    justify-content: space-between;
}

.loginsns_wrap button {
    padding: 15px;
    width: 48%;
    background: $color-white;
    color: $subtxt-color;
    border: $border-line;
    border-radius: $border-radiu;
}